<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Handy Helper Dashboard</title>

</head>

<body>

    <div class="page-header">
        <h3>Hello {{logged_in_user.first_name}}!</h3>
        <div><a class="col-sm-5 left" href=" /logout">Log Out</a></div>
        <div><a class="col-sm-2 right" href="/jobs/new">New Job!</a></div>

    </div>



    {% if messages %}
    <ul>
        {% for error in messages %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Everyone's jobs:</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Job</th>
                <th scope="col">Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            {% if job not in taken_jobs %}
            <tr>
                <td>{{job.title}}</td>
                <td>{{job.location}}</td>
                {% if job.user.id == request.session.user_id %}
                <td><a href="/jobs/{{job.id}}">View</a> | <a href="/delete_job/{{job.id}}">Remove</a> | <a
                        href="/jobs/edit/{{job.id}}">Edit</a> | <a href="/take_job/{{job.id}}">Add</a></td>
                {% else %}
                <td><a href="/jobs/{{job.id}}">View</a> | <a href="/take_job/{{job.id}}">Add</a></td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <p>{{logged_in_user.first_name}}'s jobs</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Job</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for taken in taken_jobs %}
            <tr>
                <td>{{taken.title}}</td>
                <td><a href="/jobs/{{taken.id}}">View</a> | <a href="/delete_job/{{taken.id}}">Done</a> | <a
                        href="/remove_job/{{taken.id}}">Give up</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>