<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handy Helper</title>
</head>

<body>
    <h3>Welcome! Sign in to manage your jobs!</h3>
    <div>
        <form action="/process_registration" method="post">
            {% csrf_token %}
            <label for="first-name-id">First Name</label>
            <input type="text" name="first_name" id="first-name-id"><br>
            <label for="last-name-id">Last Name</label>
            <input type="text" name="last_name" id="last-name-id"><br>
            <label for="email-id">Email</label>
            <input type="text" name="email" id="email-id"><br>
            <label for="password-id">Password</label>
            <input type="password" name="password" id="password-id"><br>
            <label for="confirm-password-id">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm-password-id"><br>
            <input type="submit" value="Register">
        </form>
    </div>
    {% if messages %}
    <ul>
        {% for error in messages %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br><br>
    <div>
        <form action="/process_login" method="post">
            {% csrf_token %}
            <label for="email-id">Email</label>
            <input type="text" name="email" id="email-id"><br>
            <label for="password-id">Password</label>
            <input type="password" name="password" id="password-id"><br>
            <input type="submit" value="Log in">
        </form>
    </div>
    <ul>
        {% for user in all_users %}
        <li>{{user.first_name}} {{user.last_name}}</li>
        {% endfor %}
    </ul>
</body>

</html>