<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job</title>
</head>

<body>
    <header>
        <h3>Hello {{logged_in_user.first_name}}! Create a job!</h3>
        <a href="/logout">Logout</a>
    </header>
    {% if messages %}
    <ul>
        {% for error in messages %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <form action="/create_job" method="post">
            {% csrf_token %}
            <label for="title-id">Title:</label>
            <input type="text" name="title" id="title-id"><br>
            <label for="description-id">Description:</label>
            <input type="text" name="description" id="description-id"><br>
            <label for="location-id">Location:</label>
            <input type="text" name="location" id="location-id"><br>
            <p>Category:</p>
            <select name="real_category" id="real-category-id">
                <option value="Cleaning">Cleaning</option>
                <option value="Pet Care">Pet Care</option>
                <option value="Garden">Garden</option>
                <option value="None">None</option>
            </select><br>
            <label for="other-id">Other:</label>
            <input type="text" name="other" id="other-id"><br><br>
            <button><a href="/dashboard">Cancel</a></button>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>